/* 總外框 */
#wrap{
    /* border: 1px solid red; */
    /* 內容水平置中 */
    text-align: center;
    /* 上方留白 */
    margin-top: 50px;
}

/* 頁首.選單.內容.頁尾區 共同設定 */
header,nav,section,footer{
    /* border: 1px dashed #ccc; */
    /* 下方留白加大 */
    margin-bottom: 20px;
    /* 內容上下邊緣的間距拉大 */
    padding-top: 10px;
    padding-bottom: 10px;
}
/* 頁首區 */
header a{
    /* 改超連結去除底線、紅字 */
    text-decoration: none;
    color: rgb(65, 5, 77);
}

/* 選單區 */
nav{
    background-color: rgb(5, 75, 48);
}
nav a{
    color:#fff;
    font-weight: bold;
    text-decoration: none;
    /* 右方留白加大 */
    margin-right: 20px;
    font-size: 20px;
    border-right:1px solid rgb(85, 104, 4);
    padding-right: 20px;
}
/* 內容區 */
section{
    margin-top: 50px;
}

section iframe,
section img{
    width: 960px;
    height: 600px;
}